body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin: 20px 0;
}

.familia-section {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
}

.familia-section h2 {
    text-align: center;
}

.familia-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.familia-images img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    margin: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.familia-images img:hover {
    transform: scale(1.1);
}





.familia-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.familia-card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
}

.familia-card:hover {
    transform: scale(1.05);
}



















.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 800px;
    max-height: 600px;
    object-fit: contain;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    font-size: 40px;
    color: white;
    cursor: pointer;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    font-size: 24px;
    font-weight: bold;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 5px;
    transform: translate(0, -50%);
}

.prev {
    left: 20px;
}

.next {
    right: 20px;
}





